<h1>Add a new photo</h1>
<br>
<form action="/create_photo">
  <label for="src">Image URL</label>
  <input type="text" name="src" id="src">
  <br>
  <label for="caption">Caption</label>
  <input type="text" name="caption" id="caption">
  <br>
  <button>Create Photo</button>

</form>
